# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ACW/.vs/AdvancedRenderingDefaultProject/v14/.suo
ACW/.vs/AdvancedRenderingDefaultProject/v15/.suo
ACW/.vs/AdvancedRenderingDefaultProject/v15/Browse.VC.db
ACW/.vs/AdvancedRenderingDefaultProject/v15/Browse.VC.opendb
ACW/.vs/AdvancedRenderingDefaultProject/v15/ipch/478ea58380f10af7.ipch
ACW/.vs/AdvancedRenderingDefaultProject/v15/ipch/61843a9f3d5dc208.ipch
ACW/.vs/AdvancedRenderingDefaultProject/v15/ipch/73221a3cc3734679.ipch
ACW/.vs/AdvancedRenderingDefaultProject/v15/ipch/ac5d36746575673d.ipch
ACW/.vs/AdvancedRenderingDefaultProject/v15/ipch/f33d80ee36894b71.ipch
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/AdvancedRenderingDefaultProject.lastbuildstate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/AdvancedRenderingDefaultProject.read.1u.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/AdvancedRenderingDefaultProject.write.1u.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/CL.command.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/CL.read.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/CL.write.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/fxc.command.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/fxc.read.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/fxc.write.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/link.command.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/link.read.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/Advanced.ed8bbdac.tlog/link.write.1.tlog
ACW/AdvancedRenderingDefaultProject/ARM/Debug/AdvancedRenderingDefaultProject.log
ACW/AdvancedRenderingDefaultProject/ARM/Debug/AdvancedRenderingDefaultProject.vcxproj.GenerateResource.Cache
ACW/AdvancedRenderingDefaultProject/ARM/Debug/AdvancedRenderingDefaultProject.vcxprojAssemblyReference.cache
ACW/AdvancedRenderingDefaultProject/ARM/Debug/embed.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/embed.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/excluded.layout.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/excluded.layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/filtered.layout.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/filtered.layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
ACW/AdvancedRenderingDefaultProject/ARM/Debug/pri.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/pri.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/priconfig.xml
ACW/AdvancedRenderingDefaultProject/ARM/Debug/priconfig.xml.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/ProjectArchitectures.txt
ACW/AdvancedRenderingDefaultProject/ARM/Debug/qualifiers.txt
ACW/AdvancedRenderingDefaultProject/ARM/Debug/qualifiers.txt.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/ResourceHandlingTask.state
ACW/AdvancedRenderingDefaultProject/ARM/Debug/resources.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/resources.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/unfiltered.layout.resfiles
ACW/AdvancedRenderingDefaultProject/ARM/Debug/unfiltered.layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/ARM/Debug/vc141.pdb
ACW/AdvancedRenderingDefaultProject/Debug/AdvancedRenderingDefaultProject.Build.CppClean.log
ACW/AdvancedRenderingDefaultProject/Debug/AdvancedRenderingDefaultProject.log
ACW/AdvancedRenderingDefaultProject/Debug/embed.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/embed.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/embed/embed.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/embed/embed.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/excluded.layout.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/excluded.layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/filtered.layout.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/filtered.layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/layout.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/layout.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/MultipleQualifiersPerDimensionFound.txt
ACW/AdvancedRenderingDefaultProject/Debug/pri.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/pri.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/priconfig.xml.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/ProjectArchitectures.txt
ACW/AdvancedRenderingDefaultProject/Debug/qualifiers.txt
ACW/AdvancedRenderingDefaultProject/Debug/qualifiers.txt.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/ResourceHandlingTask.state
ACW/AdvancedRenderingDefaultProject/Debug/resources.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/resources.resfiles.intermediate
ACW/AdvancedRenderingDefaultProject/Debug/unfiltered.layout.resfiles
ACW/AdvancedRenderingDefaultProject/Debug/unfiltered.layout.resfiles.intermediate
